* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  color: black;
};

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #edebeb;
}
::-webkit-scrollbar-thumb{
  background: rgba(158, 158, 158,0.4);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
  background: rgba(158, 158, 158,0.8);
  border-radius: 8px;
}
.aws-btn {

  --slider-height-percentage: 62%;
  --slider-transition-duration: 785ms;
  --organic-arrow-thickness: 7px;
  --organic-arrow-border-radius: 3px;
  --organic-arrow-height: 32px;
  --organic-arrow-color: #26456f;
  --control-button-width: 9%;
  --control-button-height: 27%;
  --control-button-background: transparent;
  --control-bullet-color: #f2f2f2;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: #fff;
  --loader-bar-height: 5px;
  --timer-background-color: transparent !important;
  }